# Network timeout & retry settings for slow/unstable connections
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
network-timeout=300000

# Skip SSL issues behind corporate proxy
strict-ssl=false
